{{!< default}}
<div class="background-contain">
	<div class="container-fluid">
		<div class="jumbotron home-jumbo"><img src="/images/sidechain-logo.svg" width="160">
			<h1>Demo Music Blog</h1>
			<p>This is a <a href='' target='_blank'>Sidechain</a> website.</p>
			<hr>
		</div>
	</div>
</div>
<div class="container-fluid">
	<section class="module-row">
		{{#each data.posts.results}}
			<div class="col-xs-12 col-md-3 module latest-page second-tier collection-module">
				<div class="image">
					<a href="">
						{{#if image}}<img src="{{{cloudinaryUrl image crop='fit' }}}" class="img">{{/if}}
					</a>
				</div>
				<div class="article-details">
					<a href="{{postUrl slug}}" class="title-link">
						<h3 class="title">{{{title}}}</h3>
					</a>
					<div class="meta">
						<div class="cat-date">
							<a href="{{categoryUrl slug}}">{{{description}}}</a>
							<span class="pub-date">{{date publishedDate format='ddd MMM YYYY'}}</span>
						</div>
						<ul class="genre-list before inline">
							<li>
								<a href="{{categoryUrl slug}}">{{{categoryList categories}}}</a>
							</li>
						</ul>
					</div>			
				</div>
			</div>
		{{/each}}
	</section>
</div>


