<div class="container-fluid blog-header">
	<div class="header-container clearfix">
		<p class="">
			<a>Review</a>
		</p>
		<div class="dropdown genre-menu">

				<button class="btn btn-default dropdown-toggle trigger" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    				<span>GENRES</span>
				    <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					{{# each data.categories }}
						<li class="genre-menu-li">
							<a href="{{categoryUrl key}}" class="false" >{{name}}</a>
						</li>	
					{{/each}}
				</ul>

		</div>	
	</div>	
</div>

<div id="reviews-section">
	<div class="clearfix">
		<h1 class="page-title">
			<span>LATEST REVIEWS</span>
		</h1>
		<div class="container-fluid">
				<div class="col-xs-12 fragment-list">
					{{# each data.posts.results}}
						<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class=" review col-xs-6 col-md-4 col-lg-2">
							<a class="album-link" href="{{postUrl slug}}">
								<div class="artwork">
									{{#if image}}<img src="{{{cloudinaryUrl image crop='fit' }}}" class="img">{{/if}}
								</div>

								<div class="album-artist">
									<ul class="artist-list" href="{{postUrl slug}}">
										<li>
											{{{title}}}
										</li>
									</ul>
									<h2 class="title">
										{{description}}
									</h2>
								</div>
							</a>		
							<div class="meta">
								<ul class="genre-list before inline">
									<li>
										<a href="{{postUrl slug}}">{{{categoryList categories}}}</a>
									</li>
								</ul>
								<p class="author">
									<span class="by">{{#if author.name.full}}by {{author.name.full}}{{/if}}</span>
								</p>
								<div class="cat-date">
									<span class="pub-date">{{date publishedDate format='ddd MMM YYYY'}}</span>
								</div>
							</div>											
						</div>
					{{/each}}				
				</div>	
			{{>pagination}}
		</div>
	</div>
</div>
